<% include partials/header %>

<h1>Services page</h1>

<form action="/addpost" method="POST">
  <input type="text" name="name" value="name" placeholder="enter name">
  <button type="submit">Submit</button>
</form>

<% include partials/footer %>